<div
  class="footer"
  style="position: fixed; left: 0;text-align: center; bottom: 0; width: 100%; background-color:rgb(62, 59, 59); color: white;"
>
  <div class="footer">
    <p>&#169; All Rights Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Vishal Mangla</cite>
    </footer>
  </div>
</div>
